<div class="container">
    <h1>Overview</h1>
    <div class="row">
        <div class="col-md-8">
            <h2>Checkin History</h2>
            <ul ng-show="pastCheckins.length">
                <li ng-repeat="c in pastCheckins">{{c.statusLabel}} &mdash; {{c.timestamp}}</li>
            </ul>
            <p ng-show="!pastCheckins.length">
                You haven't checked in yet!
            </p>
        </div>
        <div class="col-md-4">
            <h2>Partners</h2>
            <ul>
                <li ng-repeat="p in partners">{{p}}</li>
            </ul>
        </div>
    </div>
</div>
