<form ng-submit="submitCheckin(checkin)">
    <p>
        How have things been since 
        <span ng-show="!lastCheckinTimestamp">you signed up?</span>
        <span ng-show="lastCheckinTimestamp">your last checkin, {{ lastCheckinTimestamp }}?</span>
    </p>
    <div>
        <select ng-model="checkin.statusValue">
            <option></option>
            <option ng-repeat="s in checkinStatuses" value="{{$index}}">{{s}}</option>
        </select>
    </div>
    <div><input type="submit" /></div>
</form>
